header {
    background-color: rgb(253, 153, 153);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
   
}
header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color:blue;
    text-decoration: none;
}

